.form-container{
    padding-top: 10vh;
    padding-bottom: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-wrapper{
    background-color: var(--transparent-background);
    margin-left: auto;
    margin-right: auto;
    padding: 8rem;   
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 35%;
}

.form-wrapper .form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.form-wrapper .form .input-container {
    display: inline-flex;
}