.error-label {
    margin: -.5rem 0 1.5rem;
    font-style: italic;
    color: #ff4d4d;
}

.password-requirements {
    margin-bottom: 1.5rem;
}

.password-requirements-item {
    padding-left: 1rem;
}

.password-requirements-item:before {
    content: "- ";
}