:root {
   --pinkflashy: #FF4093;
   --pinkpale: #EC567C;
   --transparent-background: rgba(255, 255, 255, 0.05);
}

html,
body {
   margin: 0;
   padding: 0;
}

body {
   background-image: url('../src/resources/img/background.png');
   min-height: 100vh;
   color: #e9e9e9;
   font-family: 'Montserrat', sans-serif;
}

h2,
h3 {
   font-family: 'Dosis', sans-serif;
   text-transform: uppercase;
   font-weight: 400;
}

a {
   text-decoration: none;
   color: #e9e9e9;
}

ul {
   list-style-type: none;
}

.neon {
   text-shadow: rgb(0, 225, 255) 0px 0px 0.4em, rgb(0, 225, 255) 0px 0px 0.8em,
      rgb(0, 255, 255) 0px 0px 1.6rem;
}

.flicker {
   animation: flicker 6s infinite;
}

@keyframes flicker {
   0%,
   31%,
   38%,
   56%,
   100% {
      text-shadow: rgb(0, 225, 255) 0px 0px 0.4em,
         rgb(0, 225, 255) 0px 0px 0.8em, rgb(0, 255, 255) 0px 0px 1.6rem;
   }
   30%,
   37%,
   55% {
      text-shadow: none;
   }
}

.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   max-width: 130rem;
}

.container-narrow {
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   max-width: 130rem;
}