nav {
   padding: 0.5% 1%;
   position: sticky;
   z-index: 10;
   top: 0;
   background-color: #303237;
   /* background-color: var(--transparent-background); */
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;
}

nav ul {
   display: flex;
}

#logo {
   padding: 0;
}

#logo img {
   width: 80%;
}
