.h2-section-style {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-transform: none;
    font-size: 2.5rem;
}

.h2-dashboard-style {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    text-transform: none;
}

.subtitle {
    color: var(--grey);
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}