nav {
   padding: 0.5% 1%;
   position: sticky;
   z-index: 2;
   top: 0;
   background-color: #303435;
   /* background-color: var(--transparent-background); */
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.2rem;
}

nav ul {
   display: flex;
}

#logo {
   padding: 0;
}

#logo img {
   width: 80%;
}


/* ==== Mobile Version ==== */

@media only screen and (max-width: 768px) {
   nav {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }

   nav img {
      width: 10em;
      margin: 0 auto;
      grid-column: 2;
   }
}
