.card {
    display: flex;
    flex-direction: column;
    background: var(--transparent-background);
    align-items: center;
}

.square {
    width: 17.5vw;
    padding: 7.5rem 5rem;
}

.card-title {
    color: var(--pinkpale);
    padding-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 0.075rem;
}
