.topic-form-container {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.topic-type-label {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #fff;
}

.topic-type-choice-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
}

.error-label {
    margin: -.5rem 0 1.5rem;
    font-style: italic;
    color: #ff4d4d;
}