<div class="confirmMessage">
    <p class="confirmText confirmText-title">
        Bonjour {{ currentUserName }} et merci pour cette nouvelle contribution.
    </p>
    <p class="confirmText">
        Le Topic <span class="referenceSubject"> " {{ articleTitle }} "</span> a bien été enrichi de ton contenu.
    </p>
    <p class="confirmText">
        Il sera publié très vite après relecture de toute l'équipe
    </p>
</div>


<p class="signTeam">
    La Team Electronic Tales
</p>


