.alert {
   display: flex;
   align-items: center;
   padding: 2rem;
   border: solid 1px #666666;
   background-color: #222222;
   border-radius: 1rem;
   position: fixed;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.alert-error {
   box-shadow: 4px 4px 6px -4px var(--pinkflashy);
}

.alert-success {
   box-shadow: 4px 4px 6px -4px greenyellow;
}

.ghost-icon {
   height: 5rem;
   margin-right: 2rem;
}